body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 0%) 0%,
    hsl(240deg 100% 4%) 9%,
    hsl(239deg 100% 4%) 18%,
    hsl(238deg 100% 4%) 27%,
    hsl(236deg 100% 4%) 36%,
    hsl(235deg 100% 4%) 45%,
    hsl(234deg 100% 4%) 55%,
    hsl(232deg 100% 4%) 64%,
    hsl(231deg 100% 5%) 73%,
    hsl(230deg 100% 5%) 82%,
    hsl(229deg 100% 5%) 91%,
    hsl(228deg 100% 5%) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

input {
  width: 92%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #00021c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Additional styles for the signup page */
.signup-form {
  display: flex;
  flex-direction: column;
}

/* Additional styles for the login page */
.login-form {
  display: flex;
  flex-direction: column;
}
